<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  --> 
<configuration>
  <configSections>    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(local)\SQLSERVER;          initial catalog=S4T_HaTinh;          user id=sa;          password=123456" providerName="System.Data.SqlClient" />
  <add name="S4T_HaTinhEntities" connectionString="metadata=res://*/Models.S4T_Model.csdl|res://*/Models.S4T_Model.ssdl|res://*/Models.S4T_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\SQLSERVER;initial catalog=S4T_HaTinh;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!--<add name="DefaultConnection" connectionString="Data Source=10.108.30.104;          initial catalog=S4T_HaTinh;          user id=sa;          password=FisSoft" providerName="System.Data.SqlClient" />
    <add name="S4T_HaTinhEntities" connectionString="metadata=res://*/Models.S4T_Model.csdl|res://*/Models.S4T_Model.ssdl|res://*/Models.S4T_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.108.30.104;initial catalog=S4T_HaTinh;user id=sa;password=FisSoft;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--Lấy cấu hình loại danh mục-->
    <add key="DonVi_ID" value="7" />
    <add key="VaiTroUser" value="1" />
    <add key="TrangThai" value="2" />
    <add key="NhomDonVi" value="5" />
    <add key="TrangThaiNhapLieu" value="6" />
    <add key="NganhNghe" value="9" />
    <add key="LoaiHinhDoanhNghiep" value="7" />
    <add key="FolderUploadPath" value="D:\Document\FIS\Upload" />
    <add key="RoleUserCapHuyen" value="51593635-4aa8-48f3-84a8-35048b8b8c28" />
    <add key="RoleUserCapSo" value="8bfce972-9dd5-4ffc-b4f4-75453ceafd4c" />
    <add key="ToChucChinhSachCNTTs_PhanHeChucNang_ID" value="13" />
    <add key="TrinhDoCNTT" value="11" />
    <add key="DotBaoCao" value="12" />
    <add key="HinhThucQuanLy" value="13" />
    <add key="NhomDuAn" value="14" />
    <add key="TinhChatDuAn" value="15" />

    <!-- Up file đính kèm Thẩm định thiết kế -->
    <add key="PheDuyetChuTruongDauTu" value="1" />
    <add key="PheDuyetDuAn" value="2" />
    <add key="PheDuyetThietKe" value="3" />
    <add key="PhuLucHoSoKhac" value="4" />
  </appSettings>
  <system.web>
    <machineKey validationKey="971E32D270A381E2B5954ECB4762CE401D0DF1608CAC303D527FA3DB5D70FA77667B8CF3153CE1F17C3FAF7839733A77E44000B3D8229E6E58D0C954AC2E796B" decryptionKey="1D5375942DA2B2C949798F272D3026421DDBD231757CA12C794E68E9F8CECA71" validation="SHA1" decryption="AES" />
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="en-GB" uiCulture="en-GB" />
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <!-- Max Size File : 16 MB-->
    <httpRuntime targetFramework="4.5" executionTimeout="90" maxRequestLength="16384" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" enableVersionHeader="true" />
    <sessionState timeout="60" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="Kendo.Mvc.UI" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="16777216" />
      </requestFiltering>
    </security>
    <!--<httpErrors errorMode="Custom" existingResponse="Replace">-->
    <httpErrors errorMode="Detailed" existingResponse="PassThrough">
      <remove statusCode="404" subStatusCode="-1" />
      <!--<remove statusCode="500" subStatusCode='-1' />-->
      <error statusCode="404" responseMode="ExecuteURL" path="/Error/NotFound" />
      <!--<error statusCode="500" responseMode="ExecuteURL" path="/Error/Error" />-->
      <!--<error statusCode="404" responseMode="ExecuteURL" path="/Home/Index"/>
      <error statusCode="500" responseMode="ExecuteURL" path="/Home/Index"/>-->
    </httpErrors>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>